html,
body {
  width: 100%;
  height: 100%;
}

header {
  border: 3px solid black;
  margin: 3vw;
  padding: 1vw;
  display: flex;
  justify-content: space-around;
}

section {
  margin: 3vw;
  padding: 1vw;
}

.book {
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
}
